{
  "plugins": [
    ["module-resolver", { "extensions": [".ts", ".tsx"], "root": ["./src"] }],
    ["styled-components"]
  ],
  "presets": [
    ["@babel/env"],
    ["@babel/react"],
    ["@babel/typescript"]
  ]
}
