{
  "env": {
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["error"],

    "react/prop-types": ["off"],

    "react-hooks/exhaustive-deps": "error",
    "react-hooks/rules-of-hooks": "error",

    "indent": "off",
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/no-explicit-any": ["off"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
