# environments and secrets
.env
.env.*
.secrets
src/app/secrets/

src/**/*.js
src/**/*.jsx

# dependencies
node_modules

# caches
.next
.vercel

# outputs
*.tsbuildinfo
next-env.d.ts

# tools
.DS_Store
.vscode